/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

}


html {
  scroll-behavior: smooth;
}

p {
  color: rgba(85, 85, 85, 0.781);
}
/* Background Video Styles */

body, html {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.656);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 1vh;
  height: 120vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  background-color: #ffffff00; 
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 60vh;
  margin-bottom: 15rem;
  background-color: #ffffffb0; 
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
}
.section__pic-container img {
  border-radius: 0%;         /* Make the image round */
  width: 70%;                /* Ensure the image takes up the full width of its container */
  height: 100%;               /* Ensure the image takes up the full height of its container */
  object-fit: cover; 
  background-color: transparent; /* Ensure transparency */
 }

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  gap: 1rem;
  padding-top: 0rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}
.icon1 {
  cursor: pointer;
  height: 2rem;
}
/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
  padding: 1rem;
}

.role {
  font-family: 'Your Custom Font', sans-serif; /* Replace 'Your Custom Font' with the name of the font you want to use */
  font-size: 30px; /* Adjust the font size as needed */
  color: #333; /* Set the color of the role text */
}


/* ABOUT SECTION */

#about {
  position: relative;
  background-color: hsla(0, 0%, 96%, 0.907); 
  height: auto;
}
.section-container {
  gap: 4rem;
  height: 50%;
  margin-top: 10rem;
}
.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
  padding-top: 0;
  display: flex;
  padding: 1rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}
.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}
.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.section__pic-container1 {
  display: flex;
  height: 330px;
  width: 500px;
}
.about-pic {
  border-radius: 2rem;
  margin-left: 5rem;
}
.text-container p{
  text-align: justify;
  margin-right: 1rem;
}

/* EXPERIENCE SECTION */
#experience {
  position: relative;
  margin-top: 20rem; /* Add bottom margin to create space between Experience and Projects sections */
}
/* EXPERIENCE AND PROJECTS SECTION CONTAINER */
#experience-projects-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
  margin-bottom: 0rem; /* Add bottom margin to create space between Experience and Projects sections */
}
.experience-details-container,.experience-details-container1,
.experience-details-container2 {
  display: flex;
  flex: 5;
  justify-content: 1rem; /* Adjust spacing between the containers */
  flex-wrap: wrap; /* Allow containers to wrap onto next line if needed */
  gap: 1rem; 
  padding: 0.5rem;
}
.experience-details-container1 {
  flex: 1; /* Take up normal space */
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.experience-details-container2 {
  flex: 1; /* Take up normal space */
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.experience-details-container3 {
  width: 100%; /* Adjust as needed for spacing */
  margin-top: 0rem;

}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}
.experience-sub-title1 {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.experience-sub-title2 {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem; /* Decrease font size for longer titles */
  margin-bottom: 1rem; /* Adjust as needed */
}

.details-container1,
.details-container2 {
  padding: 0.1rem;
  background: white;
  border-radius: 1rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.details-container3 {
  padding: 0.1rem; /* Adjust padding as needed */
  background: white;
  border-radius: 1rem;
  border: 0.1rem solid rgb(163, 163, 163);
  text-align: center;
  margin-top: 1rem;
}
.details-container1 {
  flex: 3; /* Set the width of the first container to be twice the width of the second container */
}

.details-container2 {
  flex: 1; /* Set the width of the second container */
  margin-left: 1rem; /* Adjust spacing between the containers */
}

.article-container,
.article-container2 {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /* Center the articles horizontally */
}

.article-container article,
.article-container2 article {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  width: 10rem; /* Adjust as needed */
}

.article-container article .icon,
.article-container2 article .icon {
  cursor: default;
}
.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  margin-bottom: 0rem; /* Adjust margin between items as needed */
}

/* PROJECTS SECTION */


#projects {
  position: relative;
  padding-top: 1vh;
  height: auto; /* Change the height to auto */
  margin: 35rem 10rem 0; /* Add margin to the top and bottom */
  box-sizing: border-box;
  min-height: fit-content;
}

#experience-projects-container4 {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
  margin-bottom: 0rem; /* Add bottom margin to create space between Experience and Projects sections */
}
.experience-details-container4 {
  display: flex;
  flex: 5;
  justify-content: 1rem; /* Adjust spacing between the containers */
  flex-wrap: wrap; /* Allow containers to wrap onto next line if needed */
  gap: 1rem; 
}

.color-container {
  border-color: rgb(165, 153, 153);
  background: rgb(250, 250, 250);
}

.project-img {
  width: 100%; /* Set the width to 100% */
  height: auto; /* Automatically adjust the height */
  border-radius: 1rem;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}
.details-container {
  margin-bottom: 20px; /* Add margin to create space between project details */
}

.experience-in-project-container {
  margin-left: -5; /* Set the left margin to 0 to align to the left edge */
  padding-left: 0; /* Remove any padding on the left */
}

.project-experience-list {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin-left: 0;
}

.project-experience-list li {
  margin-left: 0; /* Resetting margin */
  padding-left: 1rem; /* Add padding for indentation */
}

.experience-sub-title4 {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 2rem; /* Decrease font size for longer titles */
  margin-bottom: 0rem; /* Adjust as needed */
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin-left: 0;
}
.experience-sub-title5 {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem; /* Decrease font size for longer titles */
  margin-bottom: 0rem; /* Adjust as needed */
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin-left: 0;
}

.article-container1 {
  width: 100%; /* Set the width to 100% */
  height: 400px; /* Set a fixed height for the container */
  overflow: hidden; /* Hide any overflow */
} 
.experience-sub-title,
.experience-sub-title1,
.experience-sub-title2,
.experience-sub-title4,
.experience-sub-title5 {
  height: 6rem;

}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-top: 100rem; /* Add margin to the top */
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: #fafafa; /* Fix the background value */
  margin: auto;
  padding: 1.5rem;
  position: relative; /* Add this line */
  flex-basis: 10%; /* Adjust the width of each article as needed */
  gap: 100px;
}
.contact-info-upper-container article {
  flex-basis: 100%; /* Adjust the width of each article as needed */
}

.contact-info-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  width: 10rem; /* Adjust as needed */
  padding: 0rem;
}


.contact-info-container img {
  width: 50px; /* Adjust the width of the images as needed */
}

.contact-info-container p {
  margin: 0; /* Reset default margin */
}

.contact-icon {
  cursor: pointer;
  align-items: center;
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Let the height adjust accordingly */
}


.email-icon {
  position: absolute; /* Add this line */
}
.email-info { /* Added class for email */
  text-align: center; /* Center text horizontally */
}

.linkedin-info { /* Added class for LinkedIn */
  text-align: center; /* Center text horizontally */
}
.location-info { /* Added class for LinkedIn */
  text-align: center; /* Center text horizontally */
}

.contact-info-container p {
  font-size: larger;
  margin: 0; /* Reset margin */
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center; /* Center the articles horizontally */
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
.nav-links-container
{
  height: 20vh;
  margin-top: 10rem;
}
